html {
  height: 1000px;
  width: 100%;
}

.main-box {
  width: 300px;
}

.btn-check {
  width: 100px;
}

#timer {
  font-size: 60px;
}

#equation {
  font-size: 40px;
}

.navbar-text {
  padding: 5px;
  font-size: 30px;
}
